<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelMVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HotelMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div style="background:#6f42c1; color:white; padding:12px;">
        <span style="font-weight:bold;">Hotel Management System</span>

        <ul style="list-style:none; display:inline-flex; gap:15px; margin-left:20px; padding:0;">
            <li><a style="color:white; text-decoration:none;" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a style="color:white; text-decoration:none;" asp-controller="Room" asp-action="Index">Rooms</a></li>
            <li><a style="color:white; text-decoration:none;" asp-controller="Room" asp-action="Create">Add Room</a></li>
            <li><a style="color:white; text-decoration:none;" asp-controller="Customer" asp-action="Index">Customers</a></li>
            <li><a style="color:white; text-decoration:none;" asp-controller="Customer" asp-action="Create">Add Customer</a></li>
            <li><a style="color:white; text-decoration:none;" asp-controller="Booking" asp-action="Create">Booking</a></li>
        </ul>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - HotelMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
