@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2 style="text-align:center; margin-top:40px; color:#6f42c1;">
    Welcome to Hotel Management System
</h2>

<p style="text-align:center; color:#777;">
    Use the navigation bar to manage rooms, customers, and bookings.
</p>
