@model HotelMVC.Models.Customer
@{
    ViewBag.Title = "Add Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Customer</h2>

<div style="max-width:450px; margin:40px auto; padding:20px;
            border-radius:10px; box-shadow:0 0 10px #ddd;">

    <h3 style="color:#6f42c1; text-align:center;">Add New Customer</h3>

    @using (Html.BeginForm())
    {
        <div>
            <label>Name</label><br />
            @Html.TextBoxFor(m => m.Name)
        </div>

        <div style="margin-top:10px;">
            <label>Phone</label><br />
            @Html.TextBoxFor(m => m.Phone)
        </div>

        <div style="margin-top:10px;">
            <label>Email</label><br />
            @Html.TextBoxFor(m => m.Email)
        </div>

        <br />

        <input type="submit" value="Save"
               class="save-btn"
               style="background:#6f42c1; color:white;
                          border:none; padding:10px 18px;
                          border-radius:8px; cursor:pointer;" />
    }
</div>

<style>
    .save-btn:hover {
        background: #59339d;
    }
</style>

