@model List<HotelMVC.Models.Room>
@if (TempData["msg"] != null)
{
    <div style="background:#d1e7dd; color:#0f5132;
                    padding:10px; border-radius:8px;
                    margin-bottom:15px;">
        @TempData["msg"]
    </div>
}

<h2>Room List</h2>
<div style="display:flex; flex-wrap:wrap; gap:20px;">

    @foreach (var r in Model)
    {
        <div style="width:220px; padding:15px;
                    border-radius:12px;
                    box-shadow:0 0 10px #ddd;
                    border-top:5px solid #6f42c1;">

            <h4 style="color:#6f42c1;">Room @r.RoomNumber</h4>

            <p><b>Type:</b> @r.Type</p>
            <p><b>Price:</b> @r.Price</p>

            <p>
                <b>Status:</b>
                @if (r.Status == "Available")
                {
                    <span style="color:green;">Available</span>
                }
                else
                {
                    <span style="color:red;">Booked</span>
                }
            </p>
        </div>
    }
</div>


<br />
<a href="/Room/Create">Add New Room</a>

